.login {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #24243e;
    animation: loadTransition 0.75s;
    @keyframes loadTransition {
        from {
            opacity: 0;
            transform: rotateX(-15deg);
        }
        to {
            opacity: 1;
            transform: rotateX(0);
        }
    }
    .formbox {
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        height: 50vh;
        width: 30vw;
        justify-content: center;
        align-items: center;
        background-color: #302b63;
        .input_username {
            padding: 5px;
            margin-bottom: 10px;
            border-radius: 15px;
            height: 4vh;
            width: 20vw;
        }
        .buttonLogin {
            height: 6vh;
            width: 15vw;
            border-radius: 15px;
        }
        .loginImg {
            height: 15vh;
            width: 7vw;
            margin-bottom: 10px;
            border: 1px solid black;
            border-radius: 50%;
        }
    }
}